body {
  background-color: #282c34;
  color: #ffffff;
}

body a {
  color: #cccccc
}

body a:hover {
  text-decoration-style: solid;
  color: #cccccc;
}

body a:visited {
  color: #666666
}

/* Header */

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 50px;
  pointer-events: none;
  padding-top: 20px;
  align-items: center;
}

.App-header {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: left;
  color: white;
}

.brand {
  padding-right: 3%;
}

.body button {
  float: left;
  align-items: center;
  padding: 14px 17px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Body */

.body {
  background-color: #282c34;
  min-height: 80vh;
}

.intro {
  padding: 10px;
}

/* Selector Form */

.drk-selector {
  background-color: #cccccc;
  color: #282c34;
}

.drk-selector:hover {
  background-color: #404e56;
  color: #cccccc;
}

.left-side {
  margin-left: 0;
  max-width: 30vw;
}

/* Paginator */

.paginator {
  text-align: center;
  min-width: 100%;
}

/* Display Form */

/* Footer */

footer {
  display: flex;
  padding: 14px;
  background-color: #343a40;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.foot-link {
  text-align: center;
}