/* Header */

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 50px;
  pointer-events: none;
  padding-top: 20px;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: left;
  color: white;
}

.brand {
  padding-right: 3%;
}

.body button {
  float: left;
  align-items: center;
  padding: 14px 17px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Body */

.body {
  background-color: #282c34;
}

/* API Form */

/* Display Form */

/* Footer */